#page {
	height: 100vh;
	width: 100%;
	background-image: url("../img/jjj.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

#page .box {
	background-color: #fff;
	position: relative;
	height: 550px;
	width: 420px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 4px;
	display: block;
}

.box h1 {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 50px;
	margin-bottom: 100px;
}

form input {
	margin-bottom: 30px;
	display: block;
	padding: 15px;
	background-color: #f0f0f0;
	border: none;
	border-left: 2px solid #fff;
	font-size: 20px;
	width: 90%;
	font-family: 'Lato', sans-serif;
	transition: background 0.5s, border-left 0.5s;
}

form input:focus {
	transition: all 0.3s ease;
	outline: none;
	background-color: #fff;
	border-left: 2px solid #000;
	box-shadow: none;
}

button.btn {
	background-color: #000;
	color: #fff;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	border-radius: 0px;
	font-weight: 300;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
	transition: all 0.3s ease;
}

button.btn:focus {
	transition: all 0.3s ease;
	color: #eee;
}












